@keyframes bgChange {
    from {
        background-color: red;
    }
    to {
        background-color: green;
    }
}

#foo {
    animation-name: bgChange;
    animation-duration: 3s;
    width: 10vw;
    height: 10vh;
    background: red;
}