#foo {
    width: 10vw;
    height: 10vh;
    position: absolute;
    background-color: red;
    animation-name: exercice3;
    animation-duration: 4s;
}

@keyframes exercice3 {
    0% {
        position: absolute;
        left: 0;
        top: 0;
        background-color: red;
    }

    25% {
        position: absolute;
        left: 0;
        top: 200px;
        background-color: blue;
    }

    50% {
        position: absolute;
        left: 200px;
        top: 200px;
        background-color: green;
    }

    75% {
        position: absolute;
        left: 200px;
        top: 0;
        background-color: yellow;
    }

    100% {
        position: absolute;
        left: 0;
        top: 0;
        background-color: red;
    }
}
