#foo {
    width: 25vw;
    height: 25vh;
    background: red;

    animation-name : foo-animation;
    animation-duration : 8s;
    animation-fill-mode : forwards;
    position: absolute;
    left: 0;
    top: 0;
}

@keyframes foo-animation {
    5% {
        width: 26.5vw;
        height: 26.5vh;
    }
    25% {
        background : orange;
        width: 15vw;
        height: 15vh;
    }
    75% {
        width: 20vw;
        height: 20vh;
        left: 0.5vw;
    }
    100% {
        width: 2.5vw;
        height : 2.5vh;
        background : purple;
        top: 5vh;
        left: 6.5vw;
    }
}



#bar {
    animation-name: foo-animation;
    animation-duration : 8s;
    animation-fill-mode : forwards;
    width: 8.5vw;
    height: 8.5vh;
    background : blue;
    position: absolute;
    left: 50vw;
    top: 2.5vh;
}